<html>
	<body>
		<!-- This is the centering tag -->
		<div style="text-align:center">
		<!-- The title of the website -->
		<h1>Rahul Chakravarthy</h1>
		<hr />
		<p><em>1B Computer Engineer</em> <br /> <strong>University of Waterloo</strong></p>
		<h2>Welcome to my New Website!</h2>	
		</div>

		<a href = #Bottem_of_page>To the bottem of the page</a> 

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra turpis vel risus laoreet commodo. Phasellus auctor, lacus at tincidunt posuere, neque urna sagittis neque, quis blandit sapien nibh id lorem. Aenean interdum porta massa, in suscipit mi porttitor ac. Sed id metus nec velit vehicula vestibulum eu ut diam. Aliquam sed justo consequat, euismod odio vel, semper lectus. Donec bibendum placerat massa eu efficitur. Integer commodo scelerisque augue, non sodales erat auctor a. Etiam nibh lacus, placerat a accumsan viverra, tristique eu justo. Etiam at dapibus arcu, ut interdum nisi. Curabitur ultricies justo eget lacinia luctus. Curabitur enim sapien, gravida eu tempor in, blandit sed massa.

		Morbi consequat diam nec faucibus blandit. Mauris facilisis, diam eget imperdiet aliquam, tortor metus aliquam diam, eu elementum elit justo eu nibh. Mauris nisi nunc, finibus ac erat at, efficitur eleifend quam. In varius leo ac pellentesque blandit. Nullam malesuada magna sed erat semper bibendum vitae cursus sem. Aliquam ut tellus eu lacus euismod convallis sed vel mauris. Aliquam luctus nec est vel feugiat.

		Nunc enim nisl, condimentum nec pulvinar dapibus, ornare a felis. Ut arcu nisl, iaculis id porttitor id, venenatis et sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit, neque sed accumsan rhoncus, est lorem dapibus magna, accumsan aliquam ante nulla in turpis. Mauris malesuada, libero et rutrum fringilla, nisl magna pretium leo, a interdum nulla velit vel sapien. Aenean cursus vestibulum nibh. In hac habitasse platea dictumst. Pellentesque quis sagittis quam. Etiam nec ante ac sem rutrum egestas eget auctor sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		Quisque egestas odio purus, vel mattis augue malesuada id. Phasellus ut sagittis ipsum. Integer volutpat ut turpis quis posuere. Sed rutrum dapibus volutpat. Duis in tortor dignissim, accumsan orci vel, sodales mi. Donec in pretium mauris. Nunc imperdiet felis et interdum vulputate. Proin pretium molestie tristique.

		Nulla pharetra enim tortor, id varius ex pharetra quis. Cras eu ante erat. Cras et elementum purus. Sed fringilla eleifend justo, in tempor turpis pretium sed. Suspendisse lectus magna, vulputate quis lacus quis, rutrum bibendum velit. Nam condimentum sagittis odio, blandit condimentum odio iaculis vitae. Donec rutrum elit eu scelerisque suscipit.
		</p>

		<p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra turpis vel risus laoreet commodo. Phasellus auctor, lacus at tincidunt posuere, neque urna sagittis neque, quis blandit sapien nibh id lorem. Aenean interdum porta massa, in suscipit mi porttitor ac. Sed id metus nec velit vehicula vestibulum eu ut diam. Aliquam sed justo consequat, euismod odio vel, semper lectus. Donec bibendum placerat massa eu efficitur. Integer commodo scelerisque augue, non sodales erat auctor a. Etiam nibh lacus, placerat a accumsan viverra, tristique eu justo. Etiam at dapibus arcu, ut interdum nisi. Curabitur ultricies justo eget lacinia luctus. Curabitur enim sapien, gravida eu tempor in, blandit sed massa.

		Morbi consequat diam nec faucibus blandit. Mauris facilisis, diam eget imperdiet aliquam, tortor metus aliquam diam, eu elementum elit justo eu nibh. Mauris nisi nunc, finibus ac erat at, efficitur eleifend quam. In varius leo ac pellentesque blandit. Nullam malesuada magna sed erat semper bibendum vitae cursus sem. Aliquam ut tellus eu lacus euismod convallis sed vel mauris. Aliquam luctus nec est vel feugiat.

		Nunc enim nisl, condimentum nec pulvinar dapibus, ornare a felis. Ut arcu nisl, iaculis id porttitor id, venenatis et sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit, neque sed accumsan rhoncus, est lorem dapibus magna, accumsan aliquam ante nulla in turpis. Mauris malesuada, libero et rutrum fringilla, nisl magna pretium leo, a interdum nulla velit vel sapien. Aenean cursus vestibulum nibh. In hac habitasse platea dictumst. Pellentesque quis sagittis quam. Etiam nec ante ac sem rutrum egestas eget auctor sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		Quisque egestas odio purus, vel mattis augue malesuada id. Phasellus ut sagittis ipsum. Integer volutpat ut turpis quis posuere. Sed rutrum dapibus volutpat. Duis in tortor dignissim, accumsan orci vel, sodales mi. Donec in pretium mauris. Nunc imperdiet felis et interdum vulputate. Proin pretium molestie tristique.

		Nulla pharetra enim tortor, id varius ex pharetra quis. Cras eu ante erat. Cras et elementum purus. Sed fringilla eleifend justo, in tempor turpis pretium sed. Suspendisse lectus magna, vulputate quis lacus quis, rutrum bibendum velit. Nam condimentum sagittis odio, blandit condimentum odio iaculis vitae. Donec rutrum elit eu scelerisque suscipit.
		</strong></p>

		<p><em><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra turpis vel risus laoreet commodo. Phasellus auctor, lacus at tincidunt posuere, neque urna sagittis neque, quis blandit sapien nibh id lorem. Aenean interdum porta massa, in suscipit mi porttitor ac. Sed id metus nec velit vehicula vestibulum eu ut diam. Aliquam sed justo consequat, euismod odio vel, semper lectus. Donec bibendum placerat massa eu efficitur. Integer commodo scelerisque augue, non sodales erat auctor a. Etiam nibh lacus, placerat a accumsan viverra, tristique eu justo. Etiam at dapibus arcu, ut interdum nisi. Curabitur ultricies justo eget lacinia luctus. Curabitur enim sapien, gravida eu tempor in, blandit sed massa.

		Morbi consequat diam nec faucibus blandit. Mauris facilisis, diam eget imperdiet aliquam, tortor metus aliquam diam, eu elementum elit justo eu nibh. Mauris nisi nunc, finibus ac erat at, efficitur eleifend quam. In varius leo ac pellentesque blandit. Nullam malesuada magna sed erat semper bibendum vitae cursus sem. Aliquam ut tellus eu lacus euismod convallis sed vel mauris. Aliquam luctus nec est vel feugiat.

		Nunc enim nisl, condimentum nec pulvinar dapibus, ornare a felis. Ut arcu nisl, iaculis id porttitor id, venenatis et sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean hendrerit, neque sed accumsan rhoncus, est lorem dapibus magna, accumsan aliquam ante nulla in turpis. Mauris malesuada, libero et rutrum fringilla, nisl magna pretium leo, a interdum nulla velit vel sapien. Aenean cursus vestibulum nibh. In hac habitasse platea dictumst. Pellentesque quis sagittis quam. Etiam nec ante ac sem rutrum egestas eget auctor sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		Quisque egestas odio purus, vel mattis augue malesuada id. Phasellus ut sagittis ipsum. Integer volutpat ut turpis quis posuere. Sed rutrum dapibus volutpat. Duis in tortor dignissim, accumsan orci vel, sodales mi. Donec in pretium mauris. Nunc imperdiet felis et interdum vulputate. Proin pretium molestie tristique.

		Nulla pharetra enim tortor, id varius ex pharetra quis. Cras eu ante erat. Cras et elementum purus. Sed fringilla eleifend justo, in tempor turpis pretium sed. Suspendisse lectus magna, vulputate quis lacus quis, rutrum bibendum velit. Nam condimentum sagittis odio, blandit condimentum odio iaculis vitae. Donec rutrum elit eu scelerisque suscipit.
		</strong></em></p>

		<div style="text-align: center">
		<a name="Bottem_of_page">Bottem of page</a>
		</div>


		<a href="/welcome/SideProjects">Click here to go to the next page</a>

	</body>
</html>

<!-- THIS IS HOW YOU ADD A COMMENT --> 
