<html>

<title>The side projects page</title>
<!-- The header title -->
<div style="text-align: center">
<h1><em>My Side Projects</em></h1>
</div>

<!-- Navigation table -->
<div style="text-align: center">
<table style = "width:100%">
	<tr>
		<th>Homepage</th>
		<th>Sideprojects</th>
		<th>Awards and Scholorships</th>
	</tr>
</table>
</div>

<!-- End of navigation table style -->

<a href = "/welcome/index">Click here to go back to the main page</a>

<body style="background-color: yellow">

<p style="color:red"><em>Hello World! </em></p>

</body>

</html>